.wrapper h1 {
    color: #252525;

}

.header input {
    border: 1px solid #6c63ff;
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;
}

.header input:nth-child(1) {
    width: 256px;
}

.header input:nth-child(2) {
    width: 389px;
}

.header input::placeholder {
    color: #C3C1E5;
}

.header button {
    border: 1px solid #6c63ff;
    border-radius: 5px;
    padding: 10px 15px;
   
}