@mixin flex($fd, $ai, $gap) {
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    gap: $gap;
}

.wrapper {
    @include flex(column, center, 0);
    width: 750px;
    margin: 0 auto;
    gap: 20px;

    h1 {
        color: #252525;
        font: 700 30px Kanit;

    }

    .header {
        @include flex(row, row, 15px);

        input {
            border: 2px solid #6c63ff;
            border-radius: 5px;
            padding: 10px 15px;
            outline: none;

            &:nth-child(1) {
                width: 256px;
            }

            &:nth-child(2) {
                width: 389px;
            }

            &::placeholder {
                color: #C3C1E5;
            }
        }

        button {
            border: 2px solid #6c63ff;
            border-radius: 5px;
            padding: 10px 15px;
            display: block;
            background-color: #6c63ff;
            cursor: pointer;
            color: #fff;
            font: 400 15px Kanit;
        }
    }

    .tasks {
        width: 520px;
        display: flex;
        align-items: baseline;
        gap: 10px;

        .check {
            width: 18px;
            height: 18px;
            border: 2px solid #6c63ff;
            border-radius: 3px;
        }

        .note {
            font: 500 20px Kanit;
            letter-spacing: 0em;
            text-align: left;
        }

        .description {
            font: 500 20px Kanit;
            letter-spacing: 0em;
            text-align: left;
            color: #C3C1E5;
        }

        .edit {
            background: url('../assets/Frame\ 6.svg') no-repeat;
            height: 18px;
            width: 18px;

            &:hover {
                cursor: pointer
            }

            ;
        }

        .delete {
            background: url('../assets/trash.svg') no-repeat;
            height: 18px;
            width: 18px;

            &:hover {
                cursor: pointer
            };
        }
    }
}